extends ../layout

block content
    h1=title
    p=category.description
    h2 Items
    ul
        each item in items
            li #[a(href=item.url)=item.name]
    a(href=category.url+"/edit") edit category
    br
    a(href=category.url+"/delete") delete category