extends ../layout

block head
    link(rel="stylesheet" href="/stylesheets/form.css")

block content
    h1=title
    form(method="post")
        label(for="name") Name:
        input(id="name" name="name" type="text" minlength="1" maxlength="20" required value=category ? category.name : '')
        label(for="description") Description:
        textarea(id="description" name="description" cols="30" rows="10" required minlength="1" maxlength="200")=category ? category.description : ''
        input(type="submit" value="submit")
    if errors
        ul
            for err in errors
                li=err.msg
    if category
        a(href=category.url) Back to Category